<div class="etheria-prompt active-effect-section">
    <div class="effect-header">
        <div class="name-header">
            Active Effect
        </div>
        <div class="duration-header">
            Duration
        </div>
        <div class="duration-header">
            Stack
        </div>
        <div class="action-headers">
            {{#if isDFredEffect}}
            <a class="effect-button import-effect" data-action="import-effect">
                <i class="fa-solid fa-file-import"></i>
                DFreds Effects
            </a>
            {{/if}}
            <a class="effect-button create-effect" data-action="create-effect">
                <i class="fa-solid fa-plus"></i>
                Create Effect
            </a>
        </div>
    </div>
    <ol class="effect-list">
        {{#each effects as |effect|}}
        <li class="active-effect-item" data-effect-id="{{effect.id}}">
            <div class="effect-name">
                <div class="name-effect-div">
                    <img class="effect-image" src="{{effect.icon}}" alt="{{effect.name}}">
                    <span class="effect-name-span">
                        {{effect.name}}
                    </span>
                </div>
            </div>
            <div class="duration-div">
                <i class="fas fa-clock"></i>
                <span class="duration-span">{{ effect.durationLabel }}</span>
            </div>
            <div class="stack-div">
                <input type="number" class="stack-input" value="{{effect.stack}}">
            </div>
            <div class="button-panel">
                <a class="effect-button toggle-effect" data-action="toggle-effect">
                    <i class="fa-solid fa-toggle-{{ifThen effect.disabled 'off' 'on'}}"></i>
                </a>
                <a class="effect-button edit-effect" data-action="edit-effect">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a class="effect-button delete-effect" data-action="delete-effect">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>