<div class="etheria-prompt dialog-content">
    <span>Choose the modifier for the <b>{{label}}</b> made by: <b>{{actor}}</b></span>
    <div class="roll-modifer-container">
        <fieldset>
            <legend>Select Modifiers</legend>
            Number of Dice: <input name='number' type='number' min="1" value="{{diceData.number}}" >
            Additional Modifiers: <input name='mod' type='text' value="" placeholder="+4">
            Multiplier: <input name='multiplier' type='text' placeholder="*2">
        </fieldset>
        {{#if isAttackRoll}}
            <fieldset>
                <legend> Optional Modifiers</legend>
                Maximize Damage On Critic? <input type="checkbox" name="maximizeDamageOnCritic" {{checked options.maximizeDamageOnCritic}}>
                Apply Effects On Hit? <input type="checkbox" name="applyEffectsOnHit" {{checked options.applyEffectsOnHit}}>
            </fieldset>
        {{/if}}
    </div>
</div>