<div class="etheria-prompt dialog-content">
    <label>{{{labelDialog}}}</label>
    <div class="dice-div">
        <div class="die-container">
            <span class="die-icon">{{rollData.result}}</span>
        </div>
        <div class="formula-container">
            <label>Formula: {{rollData.formula}}</label>
            <label>Modifier: {{rollData.mod}}</label>
            <label>Dice Result: {{rollData.dice.0.total}}</label>
        </div>
    </div>
</div>