<div class="etheria-prompt dialog-content">
    <span><b>{{actor.name}}</b> realize a attack roll against <b>{{target.name}}</b></span>
    <div class="dice-div">
        {{log rollData}}
        <div class="die-container">
            <span class="die-icon">{{rollData.result}}</span>
        </div>
        <div class="formula-container">
            <label>Formula: {{rollData.formula}}</label>
            <label>Modifier: {{rollData.mod}}</label>
            <label>Dice Result: {{rollData.dice.0.total}}</label>
        </div>
    </div>
</div>